*.pdf
*.log
*.tsv
*.txt
*.png
*.html
*.RData
*.Rproj

**/*_cache

cran-comments.md

revdep

\.idea/
\.Rhistory
.Rproj.user
\.RData
vignettes/data/
vignettes/images/
docs
inst/doc
/doc/
/Meta/
/tests/testthat/_snaps
